// Typography
$font-title: 'Red Hat Display', sans-serif;
$font-body: 'Red Hat Display', sans-serif;

// color
$white:#FFFFFF;
$lightgrey:#F8F9FE;
$darkblue:#1F2F56;
$darkgrey:#7280A7;
$purple:#382AE1;
$lightpurple: #E0E8FF;